<section class="charts-wrapper">
  <header class="header">google-charts</header>
  <section class="block-wrapper">
    <div class="block">
      <div class="chart-row">
        <div class="chart-item">
          <header>Sollictations</header>
          <section>698</section>
          <footer>Sollictations</footer>
        </div>
        <div class="chart-item">
          <google-chart
            [title]="chart.title"
            [type]="pieChart"
            [data]="chart.data"
            [width]="chart.width"
            [height]="chart.height"
            [options]="donutOptions"
          >
          </google-chart>
        </div>
        <div class="chart-item">
          <google-chart
            [title]="chart.title"
            [type]="pieChart"
            [data]="chart.data"
            [width]="chart.width"
            [height]="chart.height"
            [options]="donutOptions"
          >
          </google-chart>
        </div>
        <div class="chart-item">
          <google-chart
            [title]="chart.title"
            [type]="pieChart"
            [data]="chart.data"
            [width]="chart.width"
            [height]="chart.height"
            [options]="donutOptions"
          >
          </google-chart>
        </div>
      </div>
      <div class="chart-row">
        <div class="chart-item">
          <google-chart
            [title]="chart.title"
            [type]="pieChart"
            [data]="chart.data"
            [width]="chart.width"
            [height]="chart.height"
            [options]="donutOptions"
          >
          </google-chart>
        </div>
        <div class="chart-item">
          <google-chart
            [title]="chart.title"
            [type]="pieChart"
            [data]="chart.data"
            [width]="chart.width"
            [height]="chart.height"
            [options]="donutOptions"
          >
          </google-chart>
        </div>
        <div class="chart-item">
          <google-chart
            [title]="chart.title"
            [type]="pieChart"
            [data]="chart.data"
            [width]="chart.width"
            [height]="chart.height"
            [options]="donutOptions"
          >
          </google-chart>
        </div>
      </div>

      <div class="chart-row">
        <div class="chart-item">
          <google-chart
            [title]="chart.title"
            [type]="pieChart"
            [data]="chart.data"
            [width]="chart.width"
            [height]="chart.height"
            [options]="donutOptions"
          >
          </google-chart>
        </div>
        <div class="chart-item">
          <google-chart
            [title]="chart.title"
            [type]="pieChart"
            [data]="chart.data"
            [width]="chart.width"
            [height]="chart.height"
            [options]="donutOptions"
          >
          </google-chart>
        </div>
        <div class="chart-item">
          <google-chart
            [title]="chart.title"
            [type]="pieChart"
            [data]="chart.data"
            [width]="chart.width"
            [height]="chart.height"
            [options]="donutOptions"
          >
          </google-chart>
        </div>
      </div>
    </div>
    <div class="block">
      <div class="chart-item">
        <google-chart
          [title]="chart.title"
          [type]="pieChart"
          [data]="chart.data"
          [width]="chart.width"
          [height]="chart.height"
        >
        </google-chart>
      </div>
      <div>dsfvfsd</div>
    </div>
  </section>
</section>
