.charts-wrapper {
  background-color: #3d444c;
  padding: 15px;

  .header {
    background-color: #ccc;
    height: 50px;
    border-radius: 10px;
  }

  .block-wrapper {
    display: flex;
    gap: 20px;

    .block {
      margin-top: 15px;
      flex: 1 50%;

      .chart-row {
        display: flex;
        gap: 20px;

        .chart-item {
          background-color: #535d67;
          flex: 1;

          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 20px;
        }
      }
    }
  }
}
