<section class="charts-wrapper">
  <header class="header">google-charts</header>
  <section class="block-wrapper">
    <div class="block">
      <div class="chart-row">
        <div class="chart-item">
          <header>&nbsp;</header>
          <section>3 566</section>
          <footer>Dossier Contrôlés</footer>
        </div>
        <div class="chart-item">
          <!-- <mwl-gauge
            [max]="100"
            [dialStartAngle]="-90"
            [dialEndAngle]="-90.001"
            [value]="50"
            [animated]="true"
            [animationDuration]="1"
          >
          </mwl-gauge> -->
          <mwl-gauge
            [max]="100"
            [dialStartAngle]="-90"
            [dialEndAngle]="-90.001"
            [label]="percentageValue"
            [value]="gaugeValues[1]"
            [animated]="true"
            [animationDuration]="1"
          >
          </mwl-gauge>
        </div>
        <div class="chart-item">
          <!-- <mwl-gauge
            [max]="100"
            [dialStartAngle]="-90"
            [dialEndAngle]="-90.001"
            [value]="50"
            [animated]="true"
            [animationDuration]="1"
          >
          </mwl-gauge> -->
          <mwl-gauge
            class="two"
            [max]="100"
            [dialStartAngle]="180"
            [dialEndAngle]="0"
            [value]="gaugeValues[2]"
            [animated]="true"
            [animationDuration]="2"
          >
          </mwl-gauge>
        </div>
        <div class="chart-item">
          <!-- <mwl-gauge
            [max]="100"
            [dialStartAngle]="-90"
            [dialEndAngle]="-90.001"
            [value]="50"
            [animated]="true"
            [animationDuration]="1"
          >
          </mwl-gauge> -->
          <mwl-gauge
            class="three"
            [max]="100"
            [value]="gaugeValues[3]"
            [animated]="true"
            [animationDuration]="1.5"
          >
          </mwl-gauge>
        </div>
        <div class="chart-item">
          <header>&nbsp;</header>
          <section>3 / 64</section>
          <footer>Ranking Agence</footer>
        </div>
      </div>
      <div class="chart-row">
        <div class="chart-item chart-pie">
          <ngx-charts-pie-chart
            [view]="chartCanvas"
            [scheme]="colorScheme4"
            [results]="data1"
            [gradient]="gradient"
            [legend]="showLegend"
            [legendPosition]="legendPosition"
            [labels]="showLabels"
            [doughnut]="isDoughnut"
            [arcWidth]="chartWidth"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
          >
          </ngx-charts-pie-chart>
        </div>
        <div class="chart-item chart-bar">
          <google-chart
            class="gc-component"
            [type]="barChart"
            [data]="barChartData2"
            [options]="barChartOptions2"
          >
          </google-chart>
        </div>
      </div>
      
      <div class="chart-row">
        <div class="chart-item control-ia">
          <header><h1>Contrôle IA</h1></header>
          <ul>
            <li class="ok">
              <div>1540</div>
              <div>OK</div>
            </li>
            <li class="warning">
              <div>82</div>
              <div>Warning</div>
            </li>
            <li class="ko">
              <div>1 944</div>
              <div>KO</div>
            </li>
            <li class="failed">
              <div>1</div>
              <div>FAILED</div>
            </li>
          </ul>
        </div>
        <div class="chart-item control-human">
          <header><h1>Correction Humaine</h1></header>
          <ul>
            <li>
              <div>O</div>
              <div>Dossier Revu</div>
            </li>
            <li class="ok">
              <div>+ 0 OK</div>
            </li>
            <li class="ko">
              <div>+ 0 KO</div>
            </li>
          </ul>
        </div>
      </div>

      <div class="chart-row">
        <div class="chart-item">
          <ngx-charts-pie-chart
            [view]="chartCanvas"
            [scheme]="colorScheme1"
            [results]="data1"
            [gradient]="gradient"
            [legend]="showLegend"
            [legendPosition]="legendPosition"
            [labels]="showLabels"
            [doughnut]="isDoughnut"
            [arcWidth]="chartWidth"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
          >
          </ngx-charts-pie-chart>
        </div>
        <div class="chart-item">
          <ngx-charts-pie-chart
            [view]="chartCanvas"
            [scheme]="colorScheme2"
            [results]="data2"
            [gradient]="gradient"
            [legend]="showLegend"
            [legendPosition]="legendPosition"
            [labels]="showLabels"
            [doughnut]="isDoughnut"
            [arcWidth]="chartWidth"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
          >
          </ngx-charts-pie-chart>
        </div>
        <div class="chart-item">
          <ngx-charts-pie-chart
            [view]="chartCanvas"
            [scheme]="colorScheme3"
            [results]="data2"
            [gradient]="gradient"
            [legend]="showLegend"
            [legendPosition]="legendPosition"
            [labels]="showLabels"
            [doughnut]="isDoughnut"
            [arcWidth]="chartWidth"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
          >
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
    <div class="block">
      <div class="donut-chart">
        <google-chart
          class="gc-component"
          [title]="gChart.title"
          [type]="pieChart"
          [data]="gChart.data"
          [options]="donutOptions"
        >
        </google-chart>
      </div>
      <div>
        <mwl-gauge
          [max]="100"
          [dialStartAngle]="-90"
          [dialEndAngle]="-90.001"
          [value]="50"
          [animated]="true"
          [animationDuration]="1"
        >
        </mwl-gauge>
      </div>
    </div>
  </section>
</section>
