.charts-wrapper {
  background-color: #3d444c;
  padding: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #fff;

  .ok {
    color: #92d050;
  }
  .ko {
    color: #ff6e67;
  }
  .warning {
    color: #ffc000;
  }
  .failed {
    color: #a6a6a6;
  }

  .header {
    background-color: #ccc;
    height: 50px;
    border-radius: 10px;
  }

  .block-wrapper {
    display: flex;
    gap: 15px;

    .block {
      margin-top: 15px;
      flex: 1 50%;

      .chart-row {
        display: flex;
        gap: 15px;

        .chart-item {
          background-color: #535d67;
          flex: 1;

          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 15px;
        }

        .chart-bar {
          flex: 2;
        }

        .chart-pie {
          flex: 1;
        }

        .control-ia,
        .control-human {
          display: flex;
          flex-direction: column;
          padding-bottom: 20px;

          header {
            text-transform: uppercase;
          }

          ul {
            display: flex;
            list-style: none;
            gap: 15px;
            margin: 0;
            padding: 0;
            justify-content: space-between;

            li {
              box-shadow: 0px 1px 2px 2px #3d444c;
              padding: 15px;
              text-align: center;
              border-radius: 3px;
              font-size: 18px;
              font-weight: 700;
            }
          }
        }
      }

      .donut-chart {
        width: 100%;
        height: 375px;
        background-color: #535d67;

        .gc-component {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
