/* You can add global styles to this file, and also import other style files */
// mwl-gauge {
//   width: 150px;
//   height: 150px;
//   display: block;
//   padding: 10px;
// }
// mwl-gauge > .gauge > .dial {
//   stroke: #eee;
//   stroke-width: 2;
//   fill: rgba(0, 0, 0, 0);
// }
// mwl-gauge > .gauge > .value {
//   stroke: rgb(47, 227, 255);
//   stroke-width: 2;
//   fill: rgba(0, 0, 0, 0);
// }
// mwl-gauge > .gauge > .value-text {
//   fill: rgb(47, 227, 255);
//   font-family: sans-serif;
//   font-weight: bold;
//   font-size: 1em;
// }

mwl-gauge {
    flex: 1;
    display: block;
    padding: 10px;
    background-color: #222;
    margin: 7px;
    border-radius: 3px;
  }
  mwl-gauge > .gauge > .dial {
    stroke: #334455;
    stroke-width: 4;
    fill: rgba(0, 0, 0, 0);
  }
  mwl-gauge > .gauge > .value {
    stroke: rgb(47, 227, 255);
    stroke-width: 4;
    fill: rgba(0, 0, 0, 0);
  }
  mwl-gauge > .gauge > .value-text {
    fill: rgb(47, 227, 255);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.8em;
  }